@import "colors";
@import "mixins";

body {
  margin-top: 10px;
  background: #FFF image-url('body-back.png') top left repeat-x;
}

div.left { @include leftie; }
div.right { @include rightie;  }
a { outline: none; }

#wrapper {
  background: transparent image-url('wrapper-back.png') top center no-repeat;
  position: relative;
  min-height: 420px;
  body.two-col & {
    background-image: image-url('wrapper-back-2.png');
  }
}

.container {
  margin: 0 auto;
  overflow: hidden;
  display: block; }

#sidebar {
  //@include column(4);
  //@include colborder;
  display: inline;
  float: left;
  width: 150px;
  min-height: 100px;
  margin-right: 10px;
  padding-right: 24px;
  margin-left: 22px;
  border-right: 1px solid #EEE;
  margin-top: 6px;
  padding-top: 20px;
  h3 { margin-bottom: .5em; }
}

body.one-col #content {
  display: inline;
  float: left;
  width: 910px;
  padding: 20px;
}
body.two-col #content {
  display: inline;
  float: left;
  width: 730px;
  margin-left: 0;
}

#header {
  position: relative;
  color: $medium_blue;
  clear: both;
  a { color: $link_color; }
  a:hover { color: $link_hover_color; }

}

#footer {
  padding-top: 2em;
  clear: both;
  div.left { width: 37%; }
  div.right { width: 63%; text-align: right; }
}

h1 { font-size: 2.5em; }

.form-buttons, .clear { clear: both; }

input.title { width: auto; }

p.follow-all {
  font-size: 1.3em;
  text-align: center;
  display: block;
}
p img {
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
